In [11]:
import json
import mysql.connector
import pandas as pd
import os

In [5]:
db = mysql.connector.connect(
    host="localhost",
    user="mysql",
    password="mysql",
    database="test_db"
)

In [3]:
data_df = pd.read_json(
    '/workspace/JSONFiles/first200linessample.jsonl', lines=True)

In [10]:
with open('/workspace/JSONFiles/submissions.jsonl', 'r', encoding='utf-8') as jsonl_in:
    with open("jsonl_out.jsonl", 'w+') as jsonl_out:
        counter = 0
        for line in jsonl_in:
            jsonl_out.write(line)
            counter += 1
            if counter == 200:
                df = pd.read_json(jsonl_out, lines=True)
                df.to_sql(con=db, name="RedditPostsTest", if_exists="append", flavor="mysql")
                counter = 0
                jsonl_out.truncate(0)

                #read as dataframe
                #upload to mysql
                #reset counter
                #wipe file
                #continue
    os.remove("jsonl_out.jsonl")

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement